<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />

</head>

<body>
  <%- include('includes/header') %>
    <%- include('includes/side-dayer') %>
      <main>
        <h1>
          this webpage
        </h1>
        <p>addresas</p>
        <p>this decription the page in more information</p>
        <p><a href="#">view website</a></p>
      </main>
</body>

</html>